@tailwind base;
@tailwind components;
@tailwind utilities;

/* para la fuentes*/
@font-face{
 font-family: 'Lexend-Regular';
 src:url('@/assets/Lexend-Regular.eot');
 src: url('@/assets/Lexend-Regular.woff') format('woff'), url('@/assets/Lexend-Regular.ttf') format('trutype'), url('@/assets/Lexend-Regular.eot#iefix') format('eot'), url('@/assets/Lexend-Regular.woff2') format('woff2')
}

.html, body{
    font: inherit;
    font-size: 100%;
    font-family: 'Lexend-Regular', Arial, serif;
    font-weight: normal;
    font-style: normal;
}

.cuadrito{
    @apply relative w-80 h-64 text-white bg-gray-200 rounded-3xl text-opacity-0 hover:text-opacity-100 text-lg transition-all items-center
}

.hoverrEleccion{
    @apply absolute inset-0 bg-gray-600 bg-opacity-0 hover:bg-opacity-100 transition duration-300 translate-y-6 hover:translate-y-0 flex flex-col justify-center items-center rounded-3xl
}

